<table xmlns="Frequently Asked Questions" cellspacing="0" class="sites-layout-name-one-column sites-layout-hbox">
  <tbody>
    <tr>
      <td class="sites-layout-tile sites-tile-name-content-1">
        <div dir="ltr">
          <h2><a name="TOC-Where-is-Wiogora-School-of-Wonder-Wisdom-"></a>
            <ul>
              <li>Where is Wiogora School of Wonder &amp; Wisdom?</li>
            </ul>
          </h2>
          <ul>
            <ul>
              <li>Wiogora will be held at First Unitarian Church of Worcester, 90 Main Street, Worcester, MA 01608. </li>
            </ul>
          </ul>
          <h2><a name="TOC-When-is-Wiogora-What-is-the-daily-schedule-"></a>
            <ul>
              <li>
                <span style="background-color:transparent">When is Wiogora? What is the daily schedule?</span>
              </li>
            </ul>
          </h2>
          <ul>
            <ul>
              <li>
                <span style="background-color:transparent">Wiogora School of Wonder &amp; Wisdom will run for two weeks from Monday July 25th through Friday August 5th. Though our official program will be on weekdays, we are full of surprises, so keep your weekend open if you can!</span>
              </li>
              <li>
                <span style="background-color:transparent">The official morning schedule begins at 9am each day (though First Day is special, of course) and concludes at 3pm. In order to magically make our parking lot and sign-in process run smoothly for everyone, pick up and drop off times are staggered &amp; you will receive your "windows" as camp approaches.</span>
              </li>
            </ul>
          </ul>
          <h2><a name="TOC-When-is-the-earliest-I-can-bring-my-student-When-is-the-latest-I-can-pick-them-up-What-if-I-can-t-make-it-on-time-"></a>
            <ul>
              <li>When is the earliest I can bring my student? When is the latest I can pick them up? What if I can't make it on time?</li>
            </ul>
          </h2>
          <ul>
            <ul>
              <li>Before Care is available beginning at 7am.</li>
              <li>After Care is available until 5:30pm.</li>
              <ul>
                <li>If you anticipate needing either additional hours, please make that clear in the appropriate sections of your registration form. </li>
                <li>Both Before and After Care are in the Magical Activities Room and are supervised by trained staff at all times.</li>
              </ul>
              <li>If you have not enrolled in After Care but find that you cannot pick up your student on-time, we may ask, at our discretion, that you pay a portion of the After Care fee.</li>
            </ul>
          </ul>
          <h2><a name="TOC-Is-lunch-provided-"></a>
            <ul>
              <li>Is lunch provided?</li>
            </ul>
          </h2>
          <ul>
            <ul>
              <li>Though a snack is provided each day, students need to bring their own lunch.</li>
            </ul>
          </ul>
          <h2><a name="TOC-When-are-final-camp-fees-due-"></a>
            <ul>
              <li>When are final camp fees due?</li>
            </ul>
          </h2>
          <ul>
            <ul>
              <li>All camp fees are due in full by May 1st.</li>
            </ul>
          </ul>
          <h2><a name="TOC-I-want-to-be-an-ELFS-Should-I-register-as-a-camper-as-well-"></a>
            <ul>
              <li>I want to be an ELFS! Should I register as a camper as well?</li>
            </ul>
          </h2>
          <ul>
            <ul>
              <li>No, this is not necessary - just fill out the staff application. If you are not accepted into the ELFS program this year, we will gladly help you make the proper arrangements at that time.</li>
            </ul>
          </ul>
          <h2><a name="TOC-Do-I-have-to-register-online-or-is-there-a-paper-form-I-can-use-instead-"></a>
            <ul>
              <li>Do I have to register online, or is there a paper form I can use instead?</li>
            </ul>
          </h2>
          <ul>
            <ul>
              <li>Paper forms are available upon request from First Unitarian Church of Worcester.</li>
            </ul>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>
</div>
