
<div class='left-column' style='text-align:center; float:left; width:45%; display:inline-block'>
	<p>
		<b>Welcome to the website of the Wiogora School of Wonder &amp; Wisdom!</b>
	</p>

	<p>
	<b>Registration is now OPEN!</b>
	Please head to the <i>Registration</i> tab above for more instructions.
	</p>

	<p>
		Dates: <br />
		July 25th ~ August 5th!
	</p>
	<p>
		Please keep checking here or on our <a href="https://www.facebook.com/groups/296284970401372/" target="_blank">Facebook Page</a> for updated event information, dates, and times!
	</p>
</div>

<div class='right-column' style='max-width:45%; display:inline-block; text-align:center;'>
	<%= image_tag "logo.gif", height: 400, alt: "Wiogora Houses Banner"%>
	<br />
	<%= image_tag "facebook_qr_code.png", alt: "Join us on Facebook" %>
	<p> Scan here to join our Facebook group!</p>
</div>