<div dir="ltr"><b>ELFS</b>: <i>Enriching Life through Fun &amp; Service</i><br />
	Teens may apply to this highly esteemed and vital - and limited - staff group. Without our ELFS' help our program could not function! Our equivalent to Counselors in Training, ELFS assist other staff members with classes, set-up, take-down, and student needs. ELFS receive extra training and support before and during the program. Wiogora ELFS freely choose service, but are formally freed in the summer session after they complete their high school studies.<br />
	<br />
	<br />
	<b>Professors, Guides, Floating Ghosts</b>: <i>Adult Staff</i><br />
	Wiogora would not be possible without enthusiastic adult volunteers. Benefits include small stipends, student discounts for staff member's family, swag(!), and a thoroughly enjoyable time in delightful community. Childcare will be provided for children of staff who are younger than 1st grade.

	<br />
	<br />
	<div>To Apply to work at Wiogora:</div>
	<div>We are currently working on updating the spells and incantations that create the illusion of the use of this muggle technology.</div>
	<div>Please send an email to <a href="mailto:headmistress@wiogora.org">headmistress@wiogora.org</a> with detailed information about yourself, your expected role at Wiogora, how you heard about us, and why you want to work here.
	</div>


