/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Eagle+Lake);

body {
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: cover;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(215, 189, 184);
	background-image: url(WiogoraMoonBroadBackground.jpg);
	background-origin: padding-box;
	background-position: 50% 0%;
	background-repeat: no-repeat;
	background-size: cover;
	direction: ltr;
	display: block;
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 694px;
	line-height: 15px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	width: 1207px;

	color:white;
	font-family: 'Eagle Lake', cursive;

}

.sites-header-nav li {
	-webkit-border-horizontal-spacing: 0px;
	-webkit-border-vertical-spacing: 0px;
	-webkit-box-shadow: rgb(119, 119, 119) 0px 0px 4px 0px;
	background-color: rgb(85, 31, 34);
	border-bottom-right-radius: 0px;
	border-collapse: separate;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	box-shadow: rgb(119, 119, 119) 0px 0px 4px 0px;
	color: rgb(65, 75, 86);
	direction: ltr;
	display: inline-block;
	font-family: 'Eagle Lake', cursive;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 21px;
	list-style-image: none;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 6px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 4px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 4px;
	text-align: center;
}

.sites-header-nav a {
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	-webkit-border-horizontal-spacing: 0px;
	-webkit-border-vertical-spacing: 0px;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-origin: padding-box;
	background-size: auto;
	border-collapse: separate;
	color: rgb(255, 0, 0);
	cursor: auto;
	direction: ltr;
	display: block;
	font-family: 'Eagle Lake', cursive;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 21px;
	line-height: 21px;
	list-style-image: none;
	list-style-type: none;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: center;
	text-decoration: none;
}