#background-image {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: cover;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(215, 189, 184);
	background: url(WiogoraMoonBroadBackground.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	width:100%;
	height:100%;
	position:fixed;

	z-index:-5;
}


body{
	direction: ltr;
	display: block;
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 15px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;

	color:white;
	font-family: 'Eagle Lake', cursive;

}

.sites-header-nav li {
	-webkit-border-horizontal-spacing: 0px;
	-webkit-border-vertical-spacing: 0px;
	-webkit-box-shadow: rgb(119, 119, 119) 0px 0px 4px 0px;
	background-color: $link-background;
	border-radius: 3px;
	border-collapse: separate;
	box-shadow: rgb(119, 119, 119) 0px 0px 4px 0px;
	color: $link-text;
	direction: ltr;
	display: inline-block;
	font-family: 'Eagle Lake', cursive;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 21px;
	list-style-image: none;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 6px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 4px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 4px;
	text-align: center;
}

.sites-header-nav li.active, .sites-header-nav li:hover {
	background-color: $active-link-background;
}

.sites-header-nav a {
	margin: -5px;
	padding: 5px;
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	-webkit-border-horizontal-spacing: 0px;
	-webkit-border-vertical-spacing: 0px;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-origin: padding-box;
	background-size: auto;
	border-collapse: separate;
	color: $link-text;
	cursor: auto;
	direction: ltr;
	display: block;
	font-family: 'Eagle Lake', cursive;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 21px;
	line-height: 21px;
	list-style-image: none;
	list-style-type: none;
	text-align: center;
	text-decoration: none;
}

.sites-header-logo {
	text-align:center;
	margin:auto;
	display:block;
}