
/*
// Colors from old site
$text:white;
$link-text:rgb(65, 75, 86);

$link-background:rgb(237, 199, 194);
$active-link-background:rgb(85, 31, 34);
*/

$text:white;
$link-text:#5BEBA7;
$link-background:#A06AB8;
$active-link-background:#621982;
// Matching light brown: 5BEBA7 and 9E8041